<ion-view title="Login" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/GoZgGmRLxdwA90HZAZFn_9d68d7bd7062a7d7da08eff9d87d3498.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list ">
            <div class="">
                <img src="img/xY8tMj7XTUWsOnBg5jlx_Untitled.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 35px;"></div>
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input1">
                    <input type="text" placeholder="Email Address">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="menu.home" id="login-button1" style="border-radius:60px 60px 60px 60px;" class=" button button-positive  button-block ">Log in</a>
            <a ui-sref="signup" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>