<ion-view title="Signup" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/aCsn2L6dS8WMHJ0HXjK4_9d68d7bd7062a7d7da08eff9d87d3498.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="signup-form2" class="list ">
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input3">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input " id="signup-input20">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input " id="signup-input21">
                    <input type="text" placeholder="Address">
                </label>
                <label class="item item-input " id="signup-input22">
                    <input type="text" placeholder="Contact No">
                </label>
                <label class="item item-input " id="signup-input4">
                    <input type="text" placeholder="Email Address">
                </label>
                <label class="item item-input " id="signup-input5">
                    <input type="text" placeholder="Password">
                </label>
            </ion-list>
            <button id="signup-button3" style="border-radius:60px 60px 60px 60px;" class=" button button-positive  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>